<nav>
    <img src="../../../assets/logo.svg" alt=" Health&wellness logo " class="logo" routerLink="Home">

    <ul>
      <li><a routerLink="/" >Menu</a></li>
      <li  (click)="scrollToSection('locationSection')"><a routerLink="/location" >Location</a></li>
      <li  (click)="scrollToSection('feedbackSection')"><a routerLink="/feedback" >Feedback</a></li>
      <li (click)="scrollToSection('orderSection')"><a routerLink="/order" >Order Now</a></li>
      
      <li><a routerLink="/" >About Us</a></li>
      <li>
        <select name="language" id="language" class="language">
          <option >AR</option>
          <option selected>EG</option>
        </select>
      </li>

      <img src="../../../assets/facebook log.svg" alt="FacebookIcon" class="FacebookIcon">
      <img src="../../../assets/instagram icon.svg" alt="FacebookIcon" class="FacebookIcon">
    </ul>
</nav>

