<nav>
    <img src="../../../assets/logo.svg" alt=" Health&wellness logo " class="logo">

    <ul>
      <li>Menu</li>
      <li>Location</li>
      <li>Order Now</li>
      <li>Feedback</li>
      <li>About Us</li>
      <li>
        <select name="language" id="language" class="language">
          <option>AR</option>
          <option>EG</option>
        </select>
      </li>

      <img src="../../../assets/facebook log.svg" alt="FacebookIcon" class="FacebookIcon">
      <img src="../../../assets/instagram icon.svg" alt="FacebookIcon" class="FacebookIcon">
    </ul>
</nav>

