nav {
    display: flex;
    align-items: center;

}

.logo {
    width: 10%;

}

ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
}

ul li {
    list-style-type: none;
    margin-right: 1rem;
    cursor: pointer; 

}
.FacebookIcon{
    width: 5%;
    margin-right: 1.5rem;
}

  a{
    color: var(--text-color);
    text-decoration: none;
  }
  a:hover{
    color: var( --scandray-color);
  }
  select{
    border: none;
    padding: 0.2rem 0.8rem;
   background-color: transparent;
   color: var(--text-color);
  }
/*  select option{
    background-color: transparent;
    color: transparent;
   /*  color: var(--text-color); 
  }
  option:hover{
    background-color: transparent;
  } */