<div class="container2" id="locationSection">
    <hr>
    <h1>Our restaurants in Bahrain</h1>
    <h3>The Avenues, Manama</h3>
    <div class="info">
        <img src="../../../assets/location.svg" alt="location icon">
        <p>Get Directions</p>
    </div>
    <div class="info">
        <img src="../../../assets/call.svg" alt="clock icon">
        <p>+973 1711 0602</p>
    </div>
    <div class="info">
        <img src="../../../assets/clock.svg" alt="call icon">
        <div class="clocks">
            <p>Sunday - Wednesday - 10:00 AM to 11:00 PM</p>
            <p>Thursday - Saturday - 10:00 AM to 12:00 AM</p>
        </div>

    </div>
    <hr>
</div>